In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("covid_19_clean_complete_2022.csv")
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [16]:
df.isna().any()

Province/State     True
Country/Region    False
Lat                True
Long               True
Date              False
Confirmed         False
Deaths            False
Recovered         False
Active            False
WHO Region         True
dtype: bool

In [17]:
df.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,213348.000000,213348.000000,2.148940e+05,214894.000000,2.148940e+05,2.148940e+05
mean,20.528131,22.735337,4.578132e+05,9310.764693,1.079987e+05,3.405037e+05
std,25.899139,76.304185,2.708770e+06,47497.835275,8.470111e+05,2.516382e+06
min,-71.949900,-178.116500,0.000000e+00,0.000000,0.000000e+00,-1.638280e+05
25%,6.426991,-27.932425,2.530000e+02,2.000000,0.000000e+00,1.600000e+01
50%,22.233350,21.752000,5.223000e+03,71.000000,4.500000e+01,1.243000e+03
75%,41.166070,88.658375,9.892275e+04,1675.000000,5.115750e+03,2.644675e+04
max,71.706900,178.065000,7.925051e+07,958144.000000,3.097475e+07,7.829236e+07

In [18]:
df.shape

(214894, 10)

In [19]:
df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed           int64
Deaths              int64
Recovered           int64
Active              int64
WHO Region         object
dtype: object

In [20]:
df['Date'] = pd.to_datetime(df['Date'])
df['Country/Region'] = df['Country/Region'].astype('string')
df.dtypes

Province/State            object
Country/Region    string[python]
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Active                     int64
WHO Region                object
dtype: object

In [21]:
x=pd.get_dummies(df['WHO Region'])
df.drop('Province/State', axis=1, inplace=True)
df=pd.concat([df,x],axis=1)
df

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region,Africa,Americas,Eastern Mediterranean,Europe,South-East Asia,Western Pacific
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean,False,False,True,False,False,False
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe,False,False,False,True,False,False
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa,True,False,False,False,False,False
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe,False,False,False,True,False,False
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214889,West Bank and Gaza,31.952200,35.233200,2022-03-04,649971,5557,0,644414,Eastern Mediterranean,False,False,True,False,False,False
214890,Winter Olympics 2022,39.904200,116.407400,2022-03-04,530,0,0,530,NaN,False,False,False,False,False,False
214891,Yemen,15.552727,48.516388,2022-03-04,11774,2135,0,9639,Eastern Mediterranean,False,False,True,False,False,False
214892,Zambia,-13.133897,27.849332,2022-03-04,313613,3958,0,309655,Africa,True,False,False,False,False,False
214893,Zimbabwe,-19.015438,29.154857,2022-03-04,238739,5397,0,233342,Africa,True,False,False,False,False,False

In [22]:
df = df.drop(['WHO Region','Country/Region'], axis=1)
df.head()

,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,Africa,Americas,Eastern Mediterranean,Europe,South-East Asia,Western Pacific
0,33.93911,67.709953,2020-01-22,0,0,0,0,False,False,True,False,False,False
1,41.15330,20.168300,2020-01-22,0,0,0,0,False,False,False,True,False,False
2,28.03390,1.659600,2020-01-22,0,0,0,0,True,False,False,False,False,False
3,42.50630,1.521800,2020-01-22,0,0,0,0,False,False,False,True,False,False
4,-11.20270,17.873900,2020-01-22,0,0,0,0,True,False,False,False,False,False